*{
    margin: 0;
    padding: 0;
}
aside#bklogo {
    background: url('/imgs/cslogo.png') no-repeat center center;
    background-size: contain;
    width: 600px;
    height: 500px;
    float: right;
    position: absolute;
    left: 54%;
    top: 10%;
}

aside{
    display: block;
}

h1 {
    color: #EDE1D7; 
    text-align: center;
    margin-right: 50%;
}

h3 {
    color: #EDE1D7; 
    text-align: center;
    margin-right: 50%;
}

hr {
    border-color: #deb887; 
    margin-right: 48%;
}
.name{
    border-radius: 5px;
    padding-left: 10px;
    width: 150px;
    border-color: #deb887;
    display: flex;
    margin-top: 3%;
    margin-bottom: 20px;
}
h2 {
    color: #8B4513; 
    text-align: center;
    margin-right: 50%;
}

p {
    color: #A0522D; 
    text-align: center;
    margin-right: 50%;
}

hr {
    border-color: #deb887; 
    margin-right: 48%;
}

article {
    font-size: 14px;
    color: #000; 
    margin-bottom: 20px;
}

textarea {
    border-color: #deb887; 
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #8B4513; 
    color: white; 
    padding: 15px; 
    border: none; 
    border-radius: 5px;
    margin-left: 20%;
    font-size: medium;
}

.campaign{
    margin-left: 10%;
}

#email{
    border-radius: 5px;
    padding-left: 10px;
    width: 150px;
    border-color: #deb887;
    display: flex;
    padding: 10px;
    margin-left: 15px;
}

#emaillabel{
    margin-left: 16vw;
}

#email{
    margin-left: 16vw;
}

#pwordlabel{
    margin-left: 16vw;
}

#pword{
    margin-left: 16vw;
}

#cnumberlabel{
    margin-left: 16vw;
}

#cnumber{
    margin-left: 16vw;
}

.sx{
    margin-left: 16vw;
}

#articlelabel{
    margin-left: 16vw;
}

#article{
    margin-left: 5vw;
    text-align: justify;
    width: 40vw;
}

#supportlabel{
    margin-left: 16vw;
}

#support{
    margin-left: 6vw;
}

#foundoclabel{
    margin-left: 16vw;
}

#foundoc{
    margin-left: 6vw;
}

#displayfn{
    margin-left: 23vw;
}

#displaymn{
    margin-left: 23vw;
}

#displayln{
    margin-left: 23vw;
}

#displaymail{
    margin-left: 20vw;
}

#displaysex{
    margin-left: 23vw;
}

#aboutcampaign{
    margin-left: 20vw;
}

#aboutcampaign1{
    margin-left: 10vw;
    width: 30vw;
    text-align: justify;
}

#whysupport{
    margin-left: 17vw;
}


header{
    width: 100vw;
    background-color: #AF8561;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#bkmaklogo{
    width: 50px;
    height: 50px;
}

#logos{
    width: 100px;
    height: 50px;
}
